<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

  {{>header}}

  <h1>{{title}}</h1>
  <img src="../public/img/imgbin-pewdiepie-legend-of-the-brofist-youtube-fan-art-punch-pCcVhYDgZ77AQa81fekfDVEYi.jpg"
    alt="pewdiepie" />
  <p>{{name}}</p>

  {{>footer}}

</body>

</html>